@model PayrollManagementSystem_Sprint2.Models.TimeSheet

@{
    ViewData["Title"] = "Create Timesheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fill Timesheet</h1>
@if (ViewBag.Message != null)
{
    <p style="color:@ViewBag.Color">@ViewBag.Message</p>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTimesheet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId" maxlength="20">
            </div>
            <div class="form-group">
                <label asp-for="TimesheetId" class="control-label"></label>
                <input asp-for="TimesheetId" class="form-control" maxlength="20"/>
                <span asp-validation-for="TimesheetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDate" class="control-label"></label>
                <input asp-for="WorkDate" class="form-control" />
                <span asp-validation-for="WorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeActivity" class="control-label"></label>
                <input asp-for="EmployeeActivity" class="form-control" maxlength="20"/>
                <span asp-validation-for="EmployeeActivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkMonth" class="control-label"></label>
                <input asp-for="WorkMonth" class="form-control" min="1" max="12"/>
                <span asp-validation-for="WorkMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfHoursSpent" class="control-label"></label>
                <input asp-for="NumberOfHoursSpent" class="form-control" max="9.5" min="0"/>
                <span asp-validation-for="NumberOfHoursSpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
