@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Login</title>
    </head>
    <body>
        <div>
            <form>
                <h2>Login </h2>
             <div>
                 <laber for="txtName">UserName</label>
                <div>
                    <input type="text" name="txtName" />
                    <span>Name Required</span>
                </div>
             </div>
            <div>
                <label for="txtPwd">Password</label>
                <div>
                    <input type="password" name="txtPwd" />
                    <span>Password Required</span>
                </div>
             </div>
                <button>Login</button>
            </form>
        </div>
    </body>
    </html>*@




@model PayrollManagementSystem_Sprint2.Models.LoginTable

<h1>Login</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeUserName" class="control-label"></label>
                <input asp-for="EmployeeUserName" class="form-control" />
                <span asp-validation-for="EmployeeUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityAnswer" class="control-label"></label>
                <input asp-for="SecurityAnswer" class="form-control" />
                <span asp-validation-for="SecurityAnswer" class="text-danger"></span>
            </div>


            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
            </label>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
