
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form>
            <h2>Login </h2>
         <div>
             <laber for="txtName">UserName</label>
            <div>
                <input type="text" name="txtName" />
                <span>Name Required</span>
            </div>
         </div>
        <div>
            <label for="txtPwd">Password</label>
            <div>
                <input type="password" name="txtPwd" />
                <span>Password Required</span>
            </div>
         </div>
            <button>Login</button>
        </form>
    </div>
</body>
</html>
