@{
    ViewData["Title"] = "Description";
}
<h1>@ViewData["Title"]</h1>
<div >
    <p>Batch - .NET Core 8th July </p>
    <p>Group Number - 2</p>
    <p>Project Name - Payroll Management System</p>
    <p>Payroll and Time Management System using ASP.NET Core MVC, ASP.NET Core Web API & Entity Framework Core</p>
    <p></p>
    <p>Group Members :</p>
    <p>1. Keshav Dhindwal</p>
    <p>2. Anshul Khairnar</p>
    <p>3. Ankit Singh</p>
    <p>4. Yuvraj Pawar</p>
    <p>5. Dishank Machkar</p>
    <p>6. Deep Momaya</p>
    <p></p>
    <p></p>
    <p></p>
</div>

